.navButtons {
    display: inline-block;
    background-color: blue;
    color: white;
    padding: 12px 20px 12px 20px;
    margin: 0;
    margin-right: 1px
}

.sidebar {
    float: left;
    width: 29%;
    background-color: blue;
    height: 1000px;
}
.rightContent {
    float: left;
    Width: 70%;
    background-color: green;
    height: 100px
}
    .profileContainer {
        background-color: orange;
        height: 300px;
        text-align: center;
    }
    
.profileDetails {
    background-color: orangered;
    height: 700px;
}